<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xx.ssm.mapper.StudentMapper">

    <resultMap id="studentMap" type="Student">
        <id property="id" column="stu_id"></id>
        <result property="stuName" column="ustu_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
    </resultMap>

    <resultMap id="StudentResultMap" type="xx.ssm.pojo.Student"></resultMap>


    <!--List<Student> getAllStudent();-->
    <select id="getAllStudent" resultType="Student">
        select * from t_stu
    </select>

    <!--Student getStudentById(@Param("stuId") Integer stuId);-->
    <select id="getStudentById" resultType="Student" >
        select * from t_stu where STUNO =#{stuId}
    </select>

    <!--void updateStudent(@Param("student") Student student);-->
    <update id="updateStudent">
        update t_stu set
        NICK = #{student.NICK},PASSWORD = #{student.PASSWORD},STUNAME = #{student.STUNAME},
        SEX = #{student.SEX},AGE = #{student.AGE},PHONE = #{student.PHONE},EMAIL = #{student.EMAIL},PIC = #{student.PIC},INTRODUCE = #{student.INTRODUCE}
        where STUNO = #{student.STUNO}
    </update>

    <!--void deleteStudent(@Param("stuId") Integer stuId);-->
    <delete id="deleteStudent">
        delete from t_stu where STUNO = #{stuId}
    </delete>

    <!--void addStudent(@Param("student") Student student);-->
    <insert id="addStudent">
        insert into t_stu values
        (null,#{student.NICK},#{student.PASSWORD},
        #{student.STUNO},#{student.STUNAME},#{student.SEX},#{student.AGE},
        #{student.PHONE},#{student.EMAIL},#{student.PIC},#{student.INTRODUCE})
    </insert>

    <!--List<Student> getStudentByKeyword(@Param("keyword")String keyword);-->
    <select id="getStudentByKeyword" resultType="Student">
            select * from t_stu
                where ID like "%"#{keyword}"%"
                or STUNAME like "%"#{keyword}"%"
                or AGE like "%"#{keyword}"%"
                or SEX like "%"#{keyword}"%"
                or EMAIL like "%"#{keyword}"%"
    </select>
    <!-- Student login(@Param("nick")String nick,@Param("password")String password);-->
    <select id="login" resultType="Student">
        select * from t_stu where NICK = #{nick} and PASSWORD = #{password}
    </select>


</mapper>