<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
    <!--    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">-->
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>
<div id="div_container">
    <table>
        <tr>
            <th colspan="12">
                学生列表
            </th>
        </tr>
        <tr>
            <th colspan="12">
                <form id="myform" style="float:left;width:60%;margin-left:20%;">
                    请输入关键字：<input type="text" name="keyword" th:v-model="${keyword}">
                    <input type="button" value="查询" @click="search()">
                </form>
            </th>
        </tr>
        <tr>
            <th>序号</th>
            <th>学生ID</th>
            <th>昵称</th>
            <th>密码</th>
            <th>学号</th>
            <th>学生姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>个人介绍</th>
            <th>
                操作
            </th>
        </tr>
        <tr th:each="student,status :${page.list}">
            <td th:text="${status.count}">1</td>
<!--            <td >-->
<!--                <img th:src="http://localhost:8080/ssm/student/page/1">-->
<!--            </td>-->
            <td th:text="${student.ID}">ID</td>
            <td th:text="${student.NICK}">昵称</td>
            <td th:text="${student.PASSWORD}">密码</td>
            <td th:text="${student.STUNO}">学号</td>
            <td th:text="${student.STUNAME}">学生姓名</td>
            <td th:text="${student.SEX}">性别</td>
            <td th:text="${student.AGE}">年龄</td>
            <td th:text="${student.PHONE}">电话</td>
            <td th:text="${student.EMAIL}">邮箱</td>
            <td th:text="${student.INTRODUCE}">个人介绍</td>
            <td>
                <a th:href="@{'/student/delete/'+${student.STUNO}}">删除</a>
            </td>
        </tr>
    </table>
    <div style="text-align: center">
        <a th:if="${page.hasPreviousPage}" th:href="@{/student/page/1}">首页</a>
        <a th:if="${page.hasPreviousPage}" th:href="@{'/student/page/'+ ${page.prePage}}">上一页</a>
        <span th:each="num:${page.navigatepageNums}">
            <a th:if="${page.pageNum == num}" style="color: red;" th:href="@{'/student/page/'+ ${num}}" th:text="'['+${num}+']'"></a>
            <a th:if="${page.pageNum != num}" th:href="@{'/student/page/'+ ${num}}" th:text="${num}"></a>
        </span>
        <a th:if="${page.hasNextPage}" th:href="@{'/student/page/'+ ${page.nextPage}}">下一页</a>
        <a th:if="${page.hasNextPage}" th:href="@{'/student/page/'+ ${page.pages}}">尾页</a>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
<script type="text/javascript">
        var vue = new Vue({
            el:"#myform",
            methods:{
                search(){
                    axios.post(
                        "/ssm/student/search/1"
                    ).then(response=>{
                        console.log(response.data)

                    });
                }
            }
        });
</script>
</body>
</html>